header {
  background-color: #fff;
  padding: 0;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  flex: 1;
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
}

.search-bar button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.user-options {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-options a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.categories {
  background-color: #fff;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.categories ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.categories li {
  padding: 0 10px;
}

.categories li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.categories .contacto {
  margin-left: auto;
}